@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Lilita+One&family=Potta+One&display=swap');
/* font-family: 'Potta One', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;900&display=swap');

html{
    scroll-behavior: smooth;
}
*{
    box-sizing: border-box;
}


.illustration__one{
    display: none;
}

.illustration__two{
    display: none;
}

.main__container{
    max-width: 1280px;
    margin: auto;
}

body{
    width: 100%;
    font-size: 100%;
    font-family: 'Lato', sans-serif;
}

header{
    background-color: #484ba0;
    
}

#logo__header{
    text-align: center;
    display: block;
    color: white;
    font-size: 2em;
    padding-top: 0.8em;
}

.menu{
    text-align: center;
    display: none;
    cursor: pointer;
    
}

.menu li{
    width: 100%;
    display: block;
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 0.7em;
    letter-spacing: .1rem;
    line-height: 1.7em;
}

.menu li a{
    text-decoration: none;
    color: inherit;
    display: block;
}

.menu li a:hover{
    color: #ff73b3;
}


.home{
    background-color: #484ba0;
}

h1{
    font-family: 'Lilita One', cursive;
    text-transform: uppercase;
    color: white;
    font-size: 3em;
    padding: 0.6em;
    letter-spacing: .1rem;
    line-height: 1.2em;

}

.button{
    
    border: none;
    text-decoration: none;
    background-color: #ff73b3;
    border-radius: 100px;
    margin: 0.5em 1em 1.5em 2em;
    box-shadow: 3px 3px 10px rgba(255, 115, 179, 0.2);
    text-align: center;
    transition: all 0.5s;
    cursor: pointer;
}

.button:hover{

    background-color: #ff8bbf;
}


.button a{
    text-decoration: inherit;
    color: white;
    display: block;
    font-size: 1.3em;
    padding: 0.7em;
    text-transform: uppercase;
    letter-spacing: .1rem;
    
}

h2{
    font-family: 'Lilita One', cursive;
    text-transform: uppercase;
    color: #424c5c;
    font-size: 4em;
    padding-left: 0.5em;
    letter-spacing: .1rem;
    line-height: 1.0em;
    padding-top: 0.5em;

}

.traço{
    width: 5em;
    height: 0.4em;
    margin-left: 2em;
    background-color: #ff73b3;
    margin-top: 1em;
    margin-bottom: 1em;
}

h4{
    font-weight: bolder;
    font-size: 1.2em;
    color:#424c5c;
}

.container__services{
    padding: 2em;
}


.service__icons{
    justify-self: start;
    grid-row-start: 1;
    grid-row-end: span 2;
}

.micro__services{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding-bottom: 1em;

}

.container__text--icon{
    grid-column-start: 2;
    grid-column-end: span 3;
}

.container__text--icon p{
    padding-top: 0.8em;
    line-height: 1.3em;
}

.portfolio {
    background-color: rgb(236, 236, 236);
    padding: 1em;
}

#photo{
    width: 100%;
    box-shadow: 3px 3px 10px rgba(255, 115, 179, 0.2);
}

.nav__bullets{
    padding-top: 1em;
    text-align: center;
}

.nav__bullets a{
    text-decoration: none;
    color:  #ff73b3;
    font-size: 1.5em;
    
}

#active{
    color:  #ffa7cf;
}

h3{
    font-weight: bolder;
    font-size: 1.2em;
    color:#424c5c;
    text-align: center;
    text-transform: uppercase;
    padding-top: 1em;
}

.central{
    text-align: center;
    margin: 5% 50% 5% 50%;
    transform: translate(-50%, -50%);
}

img{
    max-width: 100%;
    display: block;
}

footer{
    background-color: #484ba0;
}

footer p {
    color: white;
    text-transform: uppercase;
    text-align: center;
    padding-top: 1em;
    font-weight: 800;
    letter-spacing: .1rem;
}

.subtitle {
    color: rgb(226, 226, 226);
    text-align: center;
    font-size: 0.8em;
    letter-spacing: .1rem;
    padding-top: 0.5em;

}

.social{
    display: flex;
    justify-content: space-evenly;
    padding-top: 1em;
    padding-bottom: 1em;
}

.social a{
    display: block;
    width: 36px;
    height: 36px;
    background-image: url(/icons/social-media/social-media-icons.png);
    text-indent: -99999999px;
}

.social a:hover{
    background-image: url(/icons/social-media/social-media-icons-02.png);
}

.social__fb a{
    background-position: -4px -4px;
}

.social__tw a{
    background-position: 199px -4px;
}

.social__inst a{
    background-position: 296px -4px;
}

#home--button{

    text-decoration: none;
    width: 100%;
    display: block;
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 0.7em;
    letter-spacing: .1rem;
    line-height: 1.7em;
    text-align: center;
    padding-top: 1em;

}

#home--button:hover{

    color: #ff73b3;
}

@media screen and (min-width: 768px){

    header{
        display:flex;
        justify-content: space-between;
    }

    .container__menu{
        margin-right: 2em;
        margin-top: 2em;
    
    }

    #logo__header{
        margin-left: 1em;
    }

    .menu{
        display:flex;
        justify-content: space-between;
        
    }

    .menu li a{
        margin: 0.5em;
    }

    #hamburguer__delete{
        display: none;
    }

    .illustration__one{
        display: block;
    }

    .illustration__two{
        display: block;
    }

    .home{
        display: grid;
        grid-template-columns: 1fr 1fr;
        min-height: 370px;
    }

    .services{

        display: grid;
        grid-template-columns: 1fr 1fr;
        min-height: 370px;
 
    }
    
    .wedo__container{
        margin-top: 2em;
    }

    .container__services{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 0px;

    }

    h3{
        font-size: 1.5em;
    }

    figure{
        display: flex;
        flex-wrap: wrap;
    }

    figure img{
        width: 50%;
    }

    footer{
        padding: 1em;
    }

    .footer__container{
        padding-top: 1em;
        display: flex;
        width: 100%;
        justify-content: space-around;
    }

    .nav__bullets{
        margin: auto;
    }

    .subtitle {
        padding-top: 0em;
        align-self: center;
    
    }
    
    footer p:first-child {
       
        padding-top: 0em;
        align-self: center;
    }

    .social{
        padding: 0em;
        
    }

    .social li{
        margin-left: 1em;
    }
    
    #photo{
        max-width: 80%;
        display: block;
        margin: auto;
    }

    .portfolio__photos{
        display: block;
    }

    @media screen and (min-width: 1280px){
        .blue-stripe{
            position: absolute;
            display: block;
            background-color: #484ba0;
            min-height: 432px;
            width: 100%;
            left: 0;
            z-index: -1;
        }

        .micro__services{
            margin-left: 2em;
            max-width: 60%;
        }

        .gray-stripe{

            position: absolute;
            top: 915px;
            display: block;
            background-color: rgb(236, 236, 236);
            min-height: 975px;
            width: 100%;
            left: 0;
            z-index: -1;
        }

        .footer-stripe{
            position: absolute;
            display: block;
            background-color: #484ba0;
            min-height: 120px;
            width: 100%;
            left: 0;
            z-index: -1;

        }

        .central{
            text-align: center;
            margin: 2% 50% 2% 50%;
            transform: translate(-50%, -50%);
        }
        
        h3{
            margin-top: 1em;
        }
    }
    
    }

